html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "say") User Name:
            input(name = "username" value = "")
         br
         div
            label(for = "to") Password:
            input(name = "password" value = "")
         br
         div
            label(for = "to") email:
            input(name = "email" value = "")
         br
         div
            label(for = "to") contact:
            input(name = "contact" value = "")
         br
         div
            label(for = "to") details:
            input(name = "details" value = "")
         br
         button(type = "submit") Send my greetings
